<div class="m-5">
  <div class="row">
    <div class="col">
      <h2>Confiabilidad</h2>
      <p id="parrafo">Gracias a nuestro excelente servicio, confiabilidad y precios bajos
        nos hemos ganado una reputación de ser una de las mejores empresas de
        relojes en el mercado.</p>
    </div>
    <div class="col shadow mx-1">
      <img class="w-100" src="../../../assets/img/caballero.jpg" alt="reloj-caballero">
      <a href="/">
        <p class="text-center">CABALLEROS</p>
      </a>
    </div>
    <div class="col shadow mx-1">
      <img class="w-100" src="../../../assets/img/dama.jpg" alt="reloj-dama">
      <a href="/" class="tex">
        <p class="text-center">DAMAS</p>
      </a>
    </div>
  </div>
</div>
